@media (max-width: 768px) {
    .about-content{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        
    }

    .about-text{
        padding-top: 0px !important;
        margin: 0;
    }

    .about-image{
        padding: 0px;
        margin: 0px;
    }

    .content1{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    #projects{
      display: flex;
      flex-direction: column;
    }

    #up-arrow{
      position: absolute;
      right: 50px;
      bottom: 50px;
    }

    #nav{
      padding-top: 30px ;
    }

  }
  

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

#nav li:hover{
    border-top: 1px solid #cb3f60;
    border-bottom: 1px solid #cb3f60;
    
}

#nav a:hover{
  color: #cb3f60;
}

section {
    background-color: #0b0b0b;
    color: white;
}

.about-content{
    display: flex;
    justify-content: space-evenly;
    
}

.about-text{
    padding-top: 150px;
    
}

#home{
   padding: 70px 40px;

}


.about-image{
    padding: 30px;
}

.about-image img{
    border-radius: 25%;
}

.portfolio-item {
    margin-bottom: 20px;
}

.portfolio-item img {
    max-width: 100%;
}

.button-container {
  text-align: left;
  margin-top: 35px;
  padding-left: 10px
  ;}

.submit-button {
  padding: 12px 80px; 
  font-size: 18px;
  font-weight: 750;
  text-align: left;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #e7365f;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.submit-button:hover {
  background-color: white;
  color: black;
}


.content1{
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-evenly;
    padding: 100px 60px;

}

.content1 img{
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.5);
}

.content1>*{
    color: white;
    max-width: 600px;
    margin-bottom: 20px;
    text-align: center;

}

.fa-quote-right,.fa-quote-left{
  color: white;
}

#projects > div:first-child {
  position: absolute;
  top: 50px;
  left: 50%;
  color: white;
  font-weight: 800;
  transform: translateX(-50%);
}

#projects h3{
   padding: 10px;
   color: #fe1e52;
   font-weight: 650;
}

#projects{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:120px 80px;
  background-color: #0b0b0b;
}

.card {
  width: 300px;
  margin: 20px;
  transition: transform 0.3s ease-in-out;
  background-color: #1a1a1a;
  padding: 20px;
  color: white;
}

.card:hover {
  transform: scale(1.1);
}

  .container {
    width: 80%;
    padding: 60px;
    background-color:#1a1a1a;
    color: white;
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    text-align: center;
    margin: 0;
  }
  
  .progress-bar-container {
    position: relative;
    background-color: #333;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .progress-bar {
    height: 30px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
  }

  .progress-bar:hover {
    background-color: #000000;
  }
    
  #html-progress {
    width: 80%;
    background-color: #fe1e52;
  }
  
  #css-progress {
    width: 79%;
    background-color: #fe1e52;
  }
  
  #bootstrap-progress {
    width: 60%;
    background-color: #fe1e52;
  }
  
  #javascript-progress {
    width: 65%;
    background-color: #fe1e52;
  }

  #photoshop-progress{
    width: 60%;
    background-color: #fe1e52;
  }
  
.content2{
    background-color: #0b0b0b;
    color: white;
    padding: 30px;
}
  

  footer {
    background-color: #0b0b0b;
    color: #fff;
    padding: 50px 0;
    position: relative;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

  }
  

  .footer-section {
    flex: 1;
    max-width: 300px;
  }
  
  .footer-section a {
    color: #bd9da5;
    text-decoration: none;
  }

  .footer-section p{
    color: #bd9da5;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }

.arrow{
    list-style-type: none;
    float: right;
    position: absolute;
    right: 200px;
    bottom: 100px;
    animation: moveUpAndDown 2s infinite ease-in-out;
  }

  @keyframes moveUpAndDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px);
    }
  }

  .fa-angles-up{
    font-size: 40px!important;
    color: #cb3f60;
  }

  .fa-solid{
    font-size: 25px;
  }
  
  

  

  